.selected-pokemon-list-container {
  background-color: #d0d0d0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
  padding: 16px;
  width: 100%;
  max-width: 100%;
  justify-items: center;
}

.empty-list-message {
  text-align: center;
  align-content: center;
  margin: 20px;
  height: 100%;
  width: 50%;
}
